/* App.css */

/* Estilos para la barra de desplazamiento */
/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  background-color: #000; /* Color de fondo de la barra de desplazamiento */
}

/* Cambia el color del pulgar (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #ff4646; /* Color del pulgar de la barra de desplazamiento */
}

/* Resto de tus estilos de la aplicación */
.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
